<main class="asosiy">
    <div class="box">
        <figure>
            <img src="/images/20.jpg" alt="">
        </figure>
       <div class="boxx">
        <h1>Our work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quo est corporis deserunt iure ipsum aliquid ullam ipsam
            vitae dolores, molestiae suscipit tempore necessitatibus quidem
            saepe ea nesciunt minus at quisquam assumenda harum alias itaque.
            Modi, vitae distinctio. Error qui nisi voluptatem accusamus consequuntur.
            Porro, in doloribus illo alias tenetur
            suscipit beatae officiis commodi aperiam fugiat unde
            quidem natus voluptate iste repudiandae eos deserunt!
            Assumenda pariatur, dolorum reiciendis a ex magni earum libero nihil
            veritatis harum. Mollitia at dolorem rerum? Temporibus eius blanditiis
            maxime quia, eveniet veniam velit beatae quae vitae totam similique
            laborum, ex autem quod consequatur dolorem accusamus cum.</p>
       </div>
    </div>
    <div class="box">
        <div class="boxx">
            <h1>Branches</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quo est corporis deserunt iure ipsum aliquid ullam ipsam
                vitae dolores, molestiae suscipit tempore necessitatibus quidem
                saepe ea nesciunt minus at quisquam assumenda harum alias itaque.
                Modi, vitae distinctio. Error qui nisi voluptatem accusamus consequuntur.
                Porro, in doloribus illo alias tenetur
                suscipit beatae officiis commodi aperiam fugiat unde
                quidem natus voluptate iste repudiandae eos deserunt!
                Assumenda pariatur, dolorum reiciendis a ex magni earum libero nihil
                veritatis harum. Mollitia at dolorem rerum? Temporibus eius blanditiis
                maxime quia, eveniet veniam velit beatae quae vitae totam similique
                laborum, ex autem quod consequatur dolorem accusamus cum.</p>
        </div>
        <figure>
            <img src="/images/30.jpg" alt="">
        </figure>
    </div>
</main>