<section class="ayollar">
    <div class="con">
        <img src="/picture/1.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">140 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/2.jpg" alt="">
        <p class="con-p1">Yubka</p>
        <p class="con-p2">250 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/3.jpg" alt="">
        <p class="con-p1">Ko'fta</p>
        <p class="con-p2">110 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/4.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">130 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/5.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">126 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/6.jpg" alt="">
        <p class="con-p1">Ko"ylak</p>
        <p class="con-p2">240 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/11.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">600 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/8.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">444 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/9.jpg" alt="">
        <p class="con-p1">Gulli Ko'ylak</p>
        <p class="con-p2">318 000 so'm</p>
    </div>
    <div class="con">
        <img src="/picture/10.jpg" alt="">
        <p class="con-p1">Ko'ylak</p>
        <p class="con-p2">900 000 so'm</p>
    </div>
</section>