<section class="children">
        <div class="child">
            <img src="/picture/121.jpg" alt="">
            <p class="child-p1">Ko'ylak</p>
            <p class="child-p2">140 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/111.jpg" alt="">
            <p class="child-p1">Yubka</p>
            <p class="child-p2">250 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/16.jpg" alt="">
            <p class="child-p1">Bolalar Ko'ftasi</p>
            <p class="child-p2">110 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/131.jpg" alt="">
            <p class="child-p1">Ko'ylak</p>
            <p class="child-p2">130 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/17.webp" alt="">
            <p class="child-p1">Bolalar Ko'ylagi</p>
            <p class="child-p2">126 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/141.jpg" alt="">
            <p class="child-p1">Ko"ylak</p>
            <p class="child-p2">240 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/112.jpg" alt="">
            <p class="child-p1">Kastyum</p>
            <p class="child-p2">600 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/201.jpg" alt="">
            <p class="child-p1">Ko'ylak</p>
            <p class="child-p2">444 000 so'm</p>
        </div>
        <div class="child">
            <img src="/picture/21.jpg" alt="">
            <p class="child-p1">Gulli Ko'ylak</p>
            <p class="child-p2">318 000 so'm</p>
        </div>
</section>