<main class="main3">
        <div class="quti">
            <img src="/picture/12.jpg" alt="">
            <p class="quti-p1">Ko'ylak</p>
            <p class="quti-p2">140 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/2.jpg" alt="">
            <p class="quti-p1">Yubka</p>
            <p class="quti-p2">250 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/16.jpg" alt="">
            <p class="quti-p1">Bolalar Ko'ftasi</p>
            <p class="quti-p2">110 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/14.jpg" alt="">
            <p class="quti-p1">Ko'ylak</p>
            <p class="quti-p2">130 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/17.webp" alt="">
            <p class="quti-p1">Bolalar Ko'ylagi</p>
            <p class="quti-p2">126 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/6.jpg" alt="">
            <p class="quti-p1">Ko"ylak</p>
            <p class="quti-p2">240 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/20.jpg" alt="">
            <p class="quti-p1">Kastyum</p>
            <p class="quti-p2">600 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/8.jpg" alt="">
            <p class="quti-p1">Ko'ylak</p>
            <p class="quti-p2">444 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/9.jpg" alt="">
            <p class="quti-p1">Gulli Ko'ylak</p>
            <p class="quti-p2">318 000 so'm</p>
        </div>
        <div class="quti">
            <img src="/picture/21.jpg" alt="">
            <p class="quti-p1">Bolalar Ko'ylagi</p>
            <p class="quti-p2">90 000 so'm</p>
        </div>
</main>