<main class="main2">
        <div class="admin">
            <h1>DeliveryAdmin</h1>
            <figure>
                <img src="/images/50.png" alt="">
            </figure>
        </div>
        <div class="phone">
            <figure>
                <img src="/images/51.png" alt="">
            </figure>
        <p>Telephon : +99899 878-89-78</p>
        <figure>
            <img src="/images/51.png" alt="">
        </figure>
        <p>Telephon : +99890 364-89-78</p>
        </div>
        <div class="linker">
            <a href="https://t.me/ilyosxon1222">Telegram kanal</a>
            <a href="">Instagram</a>
        </div>

            <h2>Qisqacha ma'lumot</h2>

            <div class="delivery">
                <figure>
                    <img src="/images/40.png" alt="">
                </figure>
                <h1>Delivery</h1>
                <figure>
                    <img src="/images/40.png" alt="">
                </figure>
            </div>
            <h1>Bizni tanlaganingizdan ma'mnunmiz</h1>
</main>
