<main class="main">
    <div class="card">
        <img src="/images/14.jpg" alt="">
        <p class="card-p1">Shashlik</p>
        <p class="card-p2">14 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/5.jpg" alt="">
        <p class="card-p1">Lazer Osh</p>
        <p class="card-p2">25 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/6.jpg" alt="">
        <p class="card-p1">Norin</p>
        <p class="card-p2">11 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/7.jpg" alt="">
        <p class="card-p1">Qozon Kabob</p>
        <p class="card-p2">30 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/8.jpg" alt="">
        <p class="card-p1">Uyg'ur Lag'mon</p>
        <p class="card-p2">26 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/9.jpg" alt="">
        <p class="card-p1">Dimlama</p>
        <p class="card-p2">24 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/10.jpg" alt="">
        <p class="card-p1">Xonim</p>
        <p class="card-p2">6 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/11.jpg" alt="">
        <p class="card-p1">Beshbarmoq</p>
        <p class="card-p2">44 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/12.jpg" alt="">
        <p class="card-p1">Mastava</p>
        <p class="card-p2">18 000 so'm</p>
    </div>
    <div class="card">
        <img src="/images/13.jpg" alt="">
        <p class="card-p1">Somsa</p>
        <p class="card-p2">9 000 so'm</p>
    </div>
</main>