<section class="mens">
            <div class="men">
                <img src="/picture/45.jpg" alt="">
                <p class="men-p1">Sportifka</p>
                <p class="men-p2">140 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/46.jpg" alt="">
                <p class="men-p1">Sportifka</p>
                <p class="men-p2">250 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/47.jpg" alt="">
                <p class="men-p1">Sportifka</p>
                <p class="men-p2">110 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/48.jpg" alt="">
                <p class="men-p1">Pidjak</p>
                <p class="men-p2">430 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/49.jpg" alt="">
                <p class="men-p1">Ko'ylak</p>
                <p class="men-p2">226 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/200.jpg" alt="">
                <p class="men-p1">Ko"ylak</p>
                <p class="men-p2">240 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/101.jpg" alt="">
                <p class="men-p1">Ko'ylak</p>
                <p class="men-p2">160 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/300.jpg" alt="">
                <p class="men-p1">Kurtka</p>
                <p class="men-p2">444 000 so'm</p>
            </div>
            <div class="men">
                <img src="/picture/301.jpg" alt="">
                <p class="men-p1">Kurtka</p>
                <p class="men-p2">318 000 so'm</p>
            </div>
</section>